<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="disable" xsi:type="object">Commerce9\EnableBlock\Console\DisableBlock</item>
                <item name="enable" xsi:type="object">Commerce9\EnableBlock\Console\EnableBlock</item>
            </argument>
        </arguments>
    </type>
</config>
